<section class="calc">
    <div class="calc__container">
        <div class="container pt-5">
            <div class="row">
                <div class="offset-1 col-md-10">
                    <div class="calc__header text-center text-uppercase text-dark header-1">калькулятор</div>
                    <div class="calc__description text-center text-uppercase">РАССЧИТАТЬ СТОИМОСТЬ РЕМОНТА В НЕСКОЛЬКО КЛИКОВ</div>

                    <div class="row mt-4">
                        <div class="col-md-4 col-6 mt-5 pt-1">
                            <div class="calc__item">
                                <div class="item__header text-uppercase header-2">Тип помещения</div>
                                <div class="item__content row">
                                    <div class="col-sm-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="type" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="customRadio1">КВАРТИРА</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio" name="type" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio">РЕСТОРАН</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio3" name="type" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio3">МАГАЗИН</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio4" name="type" value="storage" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio4">СКЛАД</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio5" name="type" value="office" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio5">ОФИС</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio6" name="type" value="house" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio6">ДОМ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 mt-5 pt-1">
                            <div class="calc__item">
                                <div class="item__header text-uppercase header-2">Вид ремонта</div>
                                <div class="item__content">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio7" name="repairs" value="cosmetic" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio7">КОСМЕТИЧЕСКИЙ</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio8" name="repairs" value="designer" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio8">ДИЗАЙНЕРСКИЙ</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio9" name="repairs" value="capital" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio9">КАПИТАЛЬНЫЙ</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio10" name="repairs" value="full" checked class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio10">ПОД КЛЮЧ</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 mt-5 pt-1">
                            <div class="calc__item">
                                <div class="item__header text-uppercase header-2">Вид помещения</div>
                                <div class="item__content row">
                                    <div class="col-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio11" name="view" value="old_building" checked class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio11">ПОД КЛЮЧ</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio12" name="view" value="new_building" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio12">НОВОСТРОЙКА</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 mt-5 pt-1">
                            <div class="calc__item">
                                <div class="item__header text-uppercase header-2">Перепланировка</div>
                                <div class="item__content row">
                                    <div class="col-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio13" name="redevelopment" value="1" checked class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio13">ДА</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio14" name="redevelopment" value="0" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio14">НЕТ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 mt-5 pt-1">
                            <div class="calc__item">
                                <div class="item__header text-uppercase header-2">Выравнивание стен</div>
                                <div class="item__content row">
                                    <div class="col-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio15" name="alignment" value="1" checked class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio15">ДА</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio16" name="alignment" value="0" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio16">НЕТ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 mt-5 pt-1">
<!--                            картинка :)-->
<!--                            <img class="img-fluid" src="img/calc__book.png" alt="">-->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12 mt-5 pt-1">
                            <div class="calc__item">
                                <label class="item__header header-2 text-uppercase">
                                    кол-во комнат
                                    <input name="rooms" class="calc__input-text" type="text">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12 mt-5 pt-1">
                            <div class="calc__item">
                                <label class="item__header header-2 text-uppercase">
                                    площадь помещения
                                    <input name="area" class="calc__input-text" type="text">
                                </label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            <div class="row text-center mt-5">
                <div class="col-md-10 offset-md-1 row">
                    <div class="col-md pl-md-0">
                        <input autocomplete="off" id="phone" type="text" class="text-center calc__input-number" placeholder="НОМЕР ТЕЛЕФОНА">
                    </div>
                    <div class="col-md">
                        <button class="h-100 btn-orange text-uppercase w-100">получить расчет по смс</button>
                    </div>
                    <div class="col-md">
                        <div class="form-check text-left">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label text-uppercase" for="defaultCheck1">
                                я принимаю условия
                                пользовательского соглашения
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>