<section class="calc">
    <div class="calc__container screen">
        <div class="container pt-5">
            <div class="row">
                <div class="offset-1 col-md-10">
                    <div class="calc__header text-center text-uppercase text-dark header-1">калькулятор</div>
                    <div class="calc__description text-center text-uppercase">РАССЧИТАТЬ СТОИМОСТЬ РЕМОНТА В НЕСКОЛЬКО КЛИКОВ</div>

                    <div class="row mt-4">
                        <div class="col-md-4 col-6 mt-4">
                            <div class="calc__item">
                                <div class="item__header text-uppercase header-2">Тип помещения</div>
                                <div class="item__content row">
                                    <div class="col-6">
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 mt-4">
                            <div class="calc__item">
                                <div class="item__header text-uppercase header-2">Тип помещения</div>
                                <div class="item__content">
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 mt-4">
                            <div class="calc__item">
                                <div class="item__header text-uppercase header-2">Тип помещения</div>
                                <div class="item__content row">
                                    <div class="col-6">
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 mt-4">
                            <div class="calc__item">
                                <div class="item__header text-uppercase header-2">Тип помещения</div>
                                <div class="item__content row">
                                    <div class="col-6">
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 mt-4">
                            <div class="calc__item">
                                <div class="item__header text-uppercase header-2">Тип помещения</div>
                                <div class="item__content row">
                                    <div class="col-6">
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label>
                                            <input type="radio" name="type" value="kv">
                                            КВАРТИРА
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 mt-4">
                            <img class="img-fluid" src="img/calc__book.png" alt="">
                        </div>
                        <div class="col-md-4 col-6 mt-4">1</div>
                        <div class="col-md-4 col-6 mt-4">1</div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="calc__header text-orange-lg"></h1>
    </div>
</section>