<footer class="footer position-relative text-center text-md-left">
    <div class="footer__table-container">
        <div class="footer__table"></div>
    </div>
    <div class="footer__container">
        <div class="container">
            <div class="col-md-10 offset-md-1">
                <div class="footer__items row">
                    <div class="col-md order-md-0">
                        <div class="footer__head mt-5 mt-md-0 header-2">Навигация</div>
                        <div class="footer__content footer__content-one">
                            <ul class="list-unstyled">
                                <li class="text-white"><a href="#services" class="text-white animate-l">Наши услуги</a></li>
                                <li class="text-white"><a href="#support-l" class="text-white animate-l">Заказать обратный звонок</a></li>
                                <li class="text-white"><a href="#calc" class="text-white animate-l">Калькулятор</a></li>
                                <li class="text-white">
                                    <a target="_blank" href="https://vk.com/remont.inc_ufa" class="d-flex text-white align-items-center justify-content-center justify-content-md-start">
                                        <img style="padding-right: 4px;height: 20px;" class="img-fluid" src="img/vk-logo.png" alt="">
                                        <strong>VK.COM</strong>
                                    </a>
                                </li>
                                <li class="text-white">
                                    <a href="" class="text-white d-flex align-items-center justify-content-center justify-content-md-start">
                                        <img style="padding-right: 4px;height: 18px;" class="img-fluid" src="img/inst.png" alt="">
                                        <strong>INSTAGRAM.COM</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md order-md-0">
                        <div class="footer__head mt-5 mt-md-0 header-2">НАШИ УСЛУГИ</div>
                        <div class="footer__content footer__content-one">
                            <ul class="list-unstyled">
                                <li>Ремонт офисов</li>
                                <li>ремонт квартир</li>
                                <li>дизайн интерьера</li>
                                <li>ремонт торговых помещений</li>
                                <li>Утепление балконов и лоджии</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md order-first order-md-1">
                        <div class="footer__head mt-5 mt-md-0 text-md-center">
                            <img src="img/logo.png" alt="Логотип" class="img-fluid">
                        </div>
                        <div class="footer__content">
                            <div>если у вас есть вопросы, будем
                                рады на них ответить:</div>
                            <ul class="list-unstyled">
                                <li class="font-weight-bold">
                                    <a class="font-weight-bold text-white" href="tel:+78005509042">8 (800) 550 90-42</a>
                                </li>
                                <li class="footer__whatsapp">
                                    <a target="_blank" target="_blank" href="https://api.whatsapp.com/send?phone=79270809042">
                                        <img class="img-fluid" src="img/whatsapp.png" alt="">
                                        whatsapp
                                    </a>
                                </li>
                                <li class="footer__viber">
                                    <a target="_blank" href="viber://chat?number=%2B79270809042">
                                        <img src="img/viber.png" alt="">
                                        viber
                                    </a>
                                </li>
                                <li class="footer__telegram">
                                    <a target="_blank" href="http://t.me/RIODOM">
                                        <img src="img/telegram.png" alt="">
                                        telegram
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md order-last">
                        <div class="footer__head mt-5 mt-md-0 header-2 text-nowrap">ULEU : <br class="d-none d-md-block d-lg-none">Лаборатория маркетинга</div>
                        <div class="footer__content">
                            <div class="mb-2">
                                разработка и поддержка сайта на протяжении всего сотрудничества
                            </div>
                            <div class="mb-2">
                                2019 - 2020 @ uleu
                            </div>
                            <div class="mb-2">
                                agecy
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__background-big">

    </div>
</footer>
<script defer src="js/main.min.js"></script>