<footer class="footer position-relative text-center text-md-left">
    <div class="footer__container">
        <div class="container">
            <div class="col-md-10 offset-md-1">
                <div class="footer__items row">
                    <div class="col-md order-md-0">
                        <div class="footer__head mt-5 mt-md-0 header-2">НАШИ УСЛУГИ</div>
                        <div class="footer__content footer__content-one">
                            <ul class="list-unstyled">
                                <li>Ремонт офисов</li>
                                <li>ремонт квартир</li>
                                <li>дизайн интерьера</li>
                                <li>ремонт торговых помещений</li>
                                <li>Утепление балконов и лоджии</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md order-first order-md-1">
                        <div class="footer__head mt-5 mt-md-0 text-md-center">
                            <img src="img/logo.png" alt="Логотип" class="img-fluid">
                        </div>
                        <div class="footer__content">
                            <div>если у вас есть вопросы, будем
                                рады на них ответить:</div>
                            <ul class="list-unstyled">
                                <li class="font-weight-bold">8 (800) 550 90-42</li>
                                <li class="footer__whatsapp">
                                    <img class="img-fluid" src="img/whatsapp.png" alt="">
                                    whatsapp
                                </li>
                                <li class="footer__viber">
                                    <img src="img/viber.png" alt="">
                                    viber
                                </li>
                                <li class="footer__telegram">
                                    <img src="img/telegram.png" alt="">
                                    telegram
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md order-last">
                        <div class="footer__head mt-5 mt-md-0 header-2 text-nowrap">ULEU : <br class="d-none d-md-block d-lg-none">Лаборатория маретинга</div>
                        <div class="footer__content">
                            <div class="mb-2">
                                разработка и поддрежка сайта на протяжении всего сотрудничества
                            </div>
                            <div class="mb-2">
                                2019 - 2020 @ uleu
                            </div>
                            <div class="mb-2">
                                agecy
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__background-big">

    </div>
</footer>
<script src="js/main.js"></script>