<div class="break">
    <div class="break__image"></div>
</div>

<section class="gallery">
    <div class="gallery__container screen">
        <div class="gallery__gradient"></div>
        <div class="gallery__inner">
            <div class="container">
                <div class="row">
                    <div class="offset-md-1 col-md-6">
                        <div class="gallery__header pb-4 text-uppercase text-orange" style="white-space: nowrap">От голых стен – до <br>готового ремонта</div>
                        <div class="gallery__text pb-4">
                            Хотите жить в квартире с уникальным интерьером?
                        </div>
                        <div class="gallery__text pb-4">
                            Дизайн-проект – это возможность получить уникальный интерьер от именитых дизайнеров. Ваши желания в точности реализуются любой профессиональной бригадой благодаря детальным планам, макетам и подробным инструкциям.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-6">
                        <div class="gallery__toggle text-uppercase">Смотреть до / после</div>
                    </div>
<!--                    <div class="offset-md-2 col-md-4">-->
<!--                        <div class="gallery__slider">-->
<!--                            <div class="gallery__indicators row">-->
<!--                                <div class="col-md-6 col-4 pr-0 mr-0">-->
<!--                                    <span class="indicators__item"></span>-->
<!--                                    <span class="indicators__item"></span>-->
<!--                                    <span class="indicators__item"></span>-->
<!--                                    <span class="indicators__item indicators__item_active"></span>-->
<!--                                </div>-->
<!--                                <div class="col-md-6 col-4 pl-0 ml-0">-->
<!--                                    <span class="indicators__line"></span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="gallery__house">
            <img src="img/gallery__house.png" alt="">
        </div>
    </div>
</section>