<!--<div class="break">-->
<!--    <div class="break__image">-->
<!--        <img src="img/gallery__before.png" class="img-fluid" alt="">-->
<!--    </div>-->
<!--</div>-->

<section class="gallery">
    <div class="gallery__container position-relative screen">
        <div class="gallery__background"></div>
        <div style="top: 0; bottom: 0; right: 0; left: 0;" class="gallery__background-container position-absolute">
<!--            <img class="gallery__slide" src="img/gallery_1.jpg" alt="">-->
            <div class="w-100 h-100 swiper-container-2 swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-swiper-autoplay="2000">
                        <img class="gallery__slide" src="img/gg1.png" alt="">
                    </div>
                    <div class="swiper-slide" data-swiper-autoplay="2000">
                        <img class="gallery__slide" src="img/gg2.png" alt="">
                    </div>
                    <div class="swiper-slide" data-swiper-autoplay="2000">
                        <img class="gallery__slide" src="img/gg3.png" alt="">
                    </div>
                    <div class="swiper-slide" data-swiper-autoplay="2000">
                        <img class="gallery__slide" src="img/gg4.png" alt="">
                    </div>
                    <div class="swiper-slide" data-swiper-autoplay="2000">
                        <img class="gallery__slide" src="img/gg5.png" alt="">
                    </div>
                    <div class="swiper-slide" data-swiper-autoplay="2000">
                        <img class="gallery__slide" src="img/gg6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery__gradient"></div>
        <div class="gallery__inner text-center text-md-left">
            <div class="container" style="z-index: 1000">
                <div class="row">
                    <div class="offset-md-1 col-md-6">
                        <div class="gallery__header header-1 pb-4 text-uppercase text-orange">От голых стен – до <br>готового ремонта</div>
                        <div class="gallery__text pl-4 pr-4 pl-md-0 pr-md-0 pb-4">
                            Хотите жить в квартире с уникальным интерьером?
                        </div>
                        <div class="gallery__text pl-4 pr-4 pl-md-0 pr-md-0 pb-4">
                            Дизайн-проект – это возможность получить уникальный интерьер от именитых дизайнеров. Ваши желания в точности реализуются любой профессиональной бригадой благодаря детальным планам, макетам и подробным инструкциям.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 col-md-6 d-none d-md-block">
<!--                        <div class="gallery__toggle text-uppercase">Смотреть до / после</div>-->
                    </div>
                    <div class="col-md-4">
                        <div class="gallery__slider pl-4 pr-4 pl-md-0 pr-md-0">
                            <div class="gallery__indicators align-items-center">
                                <div class="gallery__indicators swiper-pagination-2"></div>
<!--                                <div class="indicators__item indicators__item_active"></div>-->
<!--                                <div class="indicators__item"></div>-->
<!--                                <div class="indicators__item"></div>-->
<!--                                <div class="indicators__item"></div>-->

                                <div class="indicators__line"></div>
                                <a id="gallery-next" class="gallery__down-arrow">
                                    <img class="img-fluid" src="img/gallery__down-arrow.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="gallery__house d-none d-md-block">-->
<!--            <img src="img/gallery__house.png" alt="">-->
<!--        </div>-->
    </div>
</section>

<!--<div class="break">-->
<!--    <div class="break__image">-->
<!--        <img class="img-fluid" src="img/gallery__after.png" alt="">-->
<!--    </div>-->
<!--</div>-->