<meta charset="UTF-8">

<!-- Useful meta tags -->
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta content="Хотите жить в квартире с уникальным интерьером? Дизайн-проект – это возможность получить уникальный интерьер от именитых дизайнеров. Ваши желания в точности реализуются любой профессиональной бригадой благодаря детальным планам, макетам и подробным инструкциям."
      name="description">
<meta content="Ремонт, Утепление, Квартира, Офис, Отзывы, Услуги" name="keywords">
<meta content="index, follow" name="robots">
<meta content="index, follow" name="googlebot">
<meta content="notranslate" name="google">

<link href="css/main.min.css" rel="stylesheet"/>

<title>Rio-Dom.ru - современный ремонт квартир</title>