<section class="include-price">
    <div class="include-price__container">
        <div class="include-price__inner">
            <div class="w-100">
                <div class="include-price__title">
                    Что входит в стоимость?
                </div>
                <div class="container">
                    <div class="row">
                        <div class="offset-1 col-md-10">
                            <div class="row">
                                <div class="col-md">
                                    <div class="include-price__item">
                                        <div class="include-price__header header-2">Подготовительный этап</div>
                                        <div class="include-price__content">
                                            <ul class="pl-0">
                                                <li>Дизайн проект Вашей квартиры</li>
                                                <li>Подбор оптимальных материалов</li>
                                                <li>Разработка планировочного решения</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="include-price__item">
                                        <div class="include-price__header header-2">Основной этап</div>
                                        <div class="include-price__content">
                                            <ul class="pl-0">
                                                <li>Демонтаж существующей отделки</li>
                                                <li>Ремонтные работы полного цикла</li>
                                                <li>Возведение стен (при необходимости)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="include-price__item">
                                        <div class="include-price__header header-2">Дополнительный этап</div>
                                        <div class="include-price__content">
                                            <ul class="pl-0">
                                                <li>Внедрение системы умный дом</li>
                                                <li>Подбор мебели под интерьер</li>
                                                <li>Разработка арт объектов</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="include-price__house d-none d-md-block">
            <img src="img/include-price__house-after.png" alt="">
        </div>
    </div>
</section>