<section class="intro">
    <div class="intro__container text-center text-white">
<!--        <h1 class="intro__header text-orange-lg text-white text-center w-100">Интро <br> (Жду макет)</h1>-->
        <div class="intro__head">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 col">
                        <div class="row">
                            <div class="col-lg">
                                <div class="logo p-3 pt-3 p-md-0">
                                    <img class="img-fluid" src="img/logo-white.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg pt-3 pb-3 pt-lg-0 pb-lg-0 text-lg-left">
                                Более 6-ти лет на рынке, 3000 работ
                                В 173х городах России
                            </div>
                            <div class="col-lg d-none d-lg-block">
                                <div class="intro__calc" style="white-space: nowrap">
                                    <img class="intro__calc-img" src="img/calc-white.png" alt="">
                                    <span class="intro__calc-text">Калькулятор</span>
                                </div>
                            </div>
                            <div class="col-lg d-none d-lg-block">
                                Задайте вопрос напрямую в :
                                <a href="#">
                                    <img class="intro__messenger" src="img/intro__telegram.png" alt="">
                                </a>
                                <a href="#">
                                    <img class="intro__messenger" src="img/intro__whatsapp.png" alt="">
                                </a>
                            </div>
                            <div class="col-lg d-none d-lg-block text-right">
                                <div class="pr-3">
                                    <div class="intro__phone position-relative">8 (800) 550 90-42 <img class="intro__phone-indicator" src="img/intro__phone-i.png" alt=""></div>
                                    <div>Бесплатный звонок</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__center">
<!--            <img class="img-fluid" src="img/joke.png" alt="">-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 mt-3 mt-md-0 col-6 d-flex align-items-center justify-content-center justify-content-lg-end">
                                <div class="intro__item">
                                    РЕМОНТ <br> ОФИСНЫ <br>ПОМЕЩЕНИЙ
                                </div>
                            </div>
                            <div class="col-md-4 col-12 order-first order-md-1 position-relative">
                                <div class="pulse-container pulse"></div>
                                <div class="intro__title-top">СОВРЕМЕННЫЙ</div>
                                <div class="intro__title position-relative">
                                    <div>РЕМОНТ</div>
                                    <div class="intro__light"></div>
                                    <div>КВАРТИР</div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-3 mt-md-0 order-last col-6 d-flex align-items-center justify-content-center justify-content-lg-start">
                                <div class="intro__item">
                                    УТЕПЛЕНИЕ <br>ЛОДЖИИ И <br>БАЛКОНОВ
                                </div>
                            </div>
                        </div>
                        <div class="intro__btn-container">
                            <button class="intro__btn">НАШИ ЦЕНЫ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>