<div class="modal fade" style="padding-left: 0 !important;" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="pl-sm-5 pr-sm-5 pl-2 pr-2">
                    <div class="modal__header pt-1 header-1 text-uppercase w-100 text-center">Получить Консультацию</div>
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="modal__desc text-center">
                                Нажмите на одну из кнопок что бы открыть чат
                                с руководителем РИО ДОМ
                            </div>
                        </div>
                    </div>
                    <div class="modal__social pt-4 pb-4 text-center">
                        <a class="pr-1 text-decoration-none" href="#">
                            <img src="img/modal__telegram.png" alt="">
                        </a>
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=79270809042">
                            <img src="img/modal__whatsapp.png" alt="">
                        </a>
                    </div>
                    <div class="row mb-4">
                        <div class="col-10 offset-1">
                            <div class="modal__desc text-center text-uppercase">
                                Или заполнителе форму для <u>обратного звонка</u>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="modal__form-group mb-3 text-center">
                                <label class="modal__desc" for="modal-name">ИМЯ</label>
                                <input id="modal-name" type="text">
                            </div>
                            <div class="modal__form-group mb-4 text-center">
                                <label class="modal__desc" for="modal-phone">ТЕЛЕФОН</label>
                                <input class="phone" id="modal-phone" type="text">
                            </div>
                            <div class="text-center pt-2 mb-3">
                                <button class="intro__btn">ПЕРЕЗВОНИТЕ МНЕ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
