<section class="reviews">
    <div class="reviews__container">
        <div class="row">
            <div class="col-md-10 offset-1 col-10">
                <div class="reviews__title-before">
                    ПОЧЕМУ ВАМ СТОИТ РАБОТАТЬ ИМЕННО С НАМИ?
                    ЛУЧШЕ ВСЕГО ВАМ РАССКАЖУТ НАШИ КЛИЕНТЫ!
                </div>
            </div>
        </div>
        <div class="reviews__title text-center header-1">
            ОТЗЫВЫ
        </div>
        <div class="reviews__items container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-12">
                    <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__man-1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Игорь Волынский</div>
                                            <div class="reviews__content">
                                                Спасибо ребятам из этой компании, которые делали ремонт на Братиславской. Качество работ могу оценить по высшему баллу. Все сделали именно так, как и договаривались. Ничего лишнего не придумывали, по цене все сошлось со сметой. Работают по договору, все нюансы по времени работ можно было с ними обсудить, достаточно гибкие в таких вопросах.
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__man-2.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Артём Румянцев</div>
                                            <div class="reviews__content">
                                                Выражаем огромную благодарность фирме за сделанный ремонт и всем ее рабочим, кто у нас работал. Квартира студия в Путилково 32 метра. Сделали все в условиях пандемии за 2,5 месяца. Не было возможности постоянно ездить, контролировать, встречать материалы, прораб взял все вопросы на себя и все оперативно решал. Получился очень хороший ремонт.
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__woman-1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Наталья Громова</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__man-3.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Тимур Садыков</div>
                                            <div class="reviews__content">
                                                Сделал очень крутой стильный ремонт в квартире с фирмой РиО ДОМ. Теперь могу сказать, что в этой фирме по-настоящему трудятся. Ремонт качественный от и до. Все настолько ровно, аккуратно. У меня ни единой претензии или недовольства в адрес ребят или работ не возникло. Спасибо вам большое за добросовестный труд.
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__man-4.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Александр Громов</div>
                                            <div class="reviews__content">
                                                Отзыв мой положительный, мастера были вежливы и аккуратны, из недостатков мы после подписания договора ожидали начало ремонта двух недель, но обращались в разгар сезона и предупреждали нас об этом, когда начали предметно с компанией обсуждать стройку. Придираться особо не к чему, на паре приемок указывали недочеты которые были исправлены, условия договора и срок соблюли, это вкупе с качеством и указывает на положительные впечатления о стройки с моей стороны.
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__woman-4.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Дана Торопова</div>
                                            <div class="reviews__content">
                                                Все прошло успешно, хоть и в начале были небольшие нестыковки. Долго обсуждали проект с менеджером, каждый раз вносили корректировки. Но сейчас даже рады, что потратили на это время. Ремонт выполнен хорошо, главное аккуратно. Прошел только месяц, как мы живем в этой квартире, но пока все отлично. Фирма нам дала гарантию на работы.
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__woman-2.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Татьяна Бабикова</div>
                                            <div class="reviews__content">
                                                Довольна проведенным ремонтом в моей квартире. Дом старый, стены пол, потолок просто были в жутком состоянии... Мастера из вашей компании сделали все как обговорили. Быстро, качественно и по цене, вполне приемлемо, прекрасно понимая, что работы было не мало... Спасибо за выполненные работы!
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__man-6.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Даниил Абунагимов</div>
                                            <div class="reviews__content">
                                                Отремонтировали с женой нашу двушку через эту компанию. По всей квартире у нас теперь красивое, светодиодное освещение, а в гостиной большая люстра. Решили сделать красивый, деревянный пол, который нам хорошо и ровно уложили. Обои поклеены ровно. Сотрудничеством остались вполне довольны, подчеркну адекватные цены.
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__woman-3.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Эльвира Галиева</div>
                                            <div class="reviews__content">
                                                Решилась, наконец, на капитальный ремонт квартиры, очень долго мониторила всевозможные строительные фирмы. Читала море отзывов... Наткнулась на сайт вашей компании "РиО ДОМ" и решила остановиться на этом. Скажу, что не пожалела! Ребята дизайнеры постарались на славу! Все сделано отлично и в срок! Я сама лично заезжала несколько раз, посмотреть, как идут работы, никакой халтуры! Рекомендую!
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__man-7.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Дима Елизарьев</div>
                                            <div class="reviews__content">
                                                Это был первый ремонт в моей жизни, купили квартиру на вторичке, убитую.. Родители сочувственно вздыхали, но я так и не понял почему. Ведь я обратился к профессионалам и потому, ремонт для меня обошелся малой кровью. Меня практически не дергали, но при этом все пожелания были учтены и выполнены. Теперь всем советую фирму. Ремонт может быть простым, когда в деле опытные люди.
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__man-8.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Руслан Вахитов</div>
                                            <div class="reviews__content">
                                                Нужен был профессиональный ремонт офисного помещения. Компанию-подрядчика я выбирал очень внимательно. Читал отзывы, проверял информацию в интернете. В итоге выбор свой остановил на РиО ДОМ. Здесь мне понравилось, что все расчеты и смету мне смогли предоставить сразу. Сориентировать по срокам и по цене. Меня все устроило и я заказал у ребят все работы. Все заказанные мной работы были выполнены в обозначенное время. Претензий никаких у меня к результатам не возникло. Отделка выполнена безупречно!
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__man-5.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">Рашид Бекузаров</div>
                                            <div class="reviews__content">
                                                Спасибо большое всем ребятам за потрясающий современный и такой непринужденный ремонт в моем загородном доме. Так классно все получилось, уютно, комфортно, без пафоса и помпезности. Отделка очень гармоничная и приятная. Мы с супругой от результата в восторге. Вы супер! Спасибо еще раз!
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-autoplay="5000">
                                <div class="row text-center text-md-left">
                                    <div class="col-md-4">
                                        <img src="img/reviews__woman-5.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="reviews__item-container">
<!--                                            <div class="swiper-pagination swiper-pagination__before-0 d-flex d-md-none"></div>-->
                                            <div class="reviews__head header-1 pt-5 pt-md-0">ЛИНА РОМАН</div>
                                            <div class="reviews__content">
                                                Все понравилось качеством ремонта довольна. Цены средние. Материалы также покупала через фирму.
                                            </div>
<!--                                            <div class="d-none d-md-flex swiper-pagination"></div>-->
                                            <div class="reviews__info d-block d-md-none pt-3">ПОДРОБНЕЕ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-md-flex swiper-pagination"></div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev" style="color: #ffad0d;"></div>
                        <div class="swiper-button-next" style="color: #ffad0d;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>