<section class="reviews">
    <div class="reviews__container">
        <div class="reviews__title-before">
            ПОЧЕМУ ВАМ СТОИТ РАБОТАТЬ ИМЕННО С НАМИ?
            ЛУЧШЕ ВСЕГО ВАМ РАССКАЖУТ НАШИ КЛИЕНТЫ!
        </div>
        <div class="reviews__title text-center header-1">
            ОТЗЫВЫ
        </div>

<!--        <div class="swiper-container swiper-container-initialized swiper-container-horizontal">-->
<!--            <div class="swiper-wrapper" style="transition: all 0ms ease 0s; transform: translate3d(-1351px, 0px, 0px);">-->
<!--                <div class="swiper-slide swiper-slide-prev" style="width: 1351px;">Slide 1</div>-->
<!--                <div class="swiper-slide swiper-slide-active" style="width: 1351px;">Slide 2</div>-->
<!--                <div class="swiper-slide swiper-slide-next" style="width: 1351px;">Slide 3</div>-->
<!--                <div class="swiper-slide" style="width: 1351px;">Slide 4</div>-->
<!--                <div class="swiper-slide" style="width: 1351px;">Slide 5</div>-->
<!--                <div class="swiper-slide" style="width: 1351px;">Slide 6</div>-->
<!--                <div class="swiper-slide" style="width: 1351px;">Slide 7</div>-->
<!--                <div class="swiper-slide" style="width: 1351px;">Slide 8</div>-->
<!--                <div class="swiper-slide" style="width: 1351px;">Slide 9</div>-->
<!--                <div class="swiper-slide" style="width: 1351px;">Slide 10</div>-->
<!--            </div>-->
<!--&lt;!&ndash;            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>&ndash;&gt;-->
<!--        </div>-->

        <div class="reviews__items container">
            <div class="row">
                <div class="col-md-10 offset-1">
                    <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>