<section class="reviews">
    <div class="reviews__container">
        <div class="reviews__title-before">
            ПОЧЕМУ ВАМ СТОИТ РАБОТАТЬ ИМЕННО С НАМИ?
            ЛУЧШЕ ВСЕГО ВАМ РАССКАЖУТ НАШИ КЛИЕНТЫ!
        </div>
        <div class="reviews__title text-center header-1">
            ОТЗЫВЫ
        </div>
        <div class="reviews__items container">
            <div class="row">
                <div class="col-md-10 offset-1">
                    <div class="swiper-container swiper-container-initialized swiper-container-horizontal">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="img/reviews__1.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-8">
                                        <div class="reviews__item-container">
                                            <div class="reviews__head header-1">ЛИНА РОМАН</div>
                                            <div class="reviews__content">Профессиональный подход во всем, от составления сметы до коммуникаций и обратной связи.
                                                Это мой пятый ремонт, и я никогда бы не поверила, что ремонт бывает и без головной боли и паники.
                                                Владислав, представитель компании и прораб — профессионал высокого уровня. Смета составлена с учетом всех мелочей, сроки соблюдены до недели а финальная стоимость отличалась от сметы менее чем на 5%.</div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>