<section class="services">
    <div class="services__container">
        <div class="services__title header-1 text-center text-uppercase">Наши услуги</div>
        <div class="container">
            <div class="offset-md-1 col-md-10">
                <div class="row d-none d-md-flex">
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="height: 35px !important;" src="img/services__truck.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ПОМОЩЬ ПРИ <br> ПЕРЕЕЗДЕ <br> ВЫДЕЛИМ <br> ТРАНСПОРТ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__kist.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ПОДБОР <br> МАТЕРИАЛОВ, <br> ОБОРУДОВАНИЯ <br> И МЕБЕЛИ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__worker.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ЭКСПЕРТНЫЙ <br> НАДЗОР ЗА <br> ХОДОМ <br> РЕМОНТА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__window.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                УТЕПЛЕНИЕ <br> БАЛКОНА <br> 50% СКИДКА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__smarthome.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                СОЗДАНИЕ <br> УНИКАЛЬНОГО <br> ДИЗАЙНА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__smarthome.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                РАЗРАБОТКА <br> СИСТЕМЫ <br> УМНЫЙ ДОМ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__key.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ЗАМЕНА <br> ЭЛЕКТРОПРОВОДКИ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__fuse-box.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                РЕМОНТ ПОД <br> КЛЮЧ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__strategy.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                СОГЛАСОВАНИЕ <br> ПЕРЕПЛАНИРОВКИ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
            </div>
                <div class="d-block d-md-none pt-3">
                    <div class="services__swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="height: 35px !important;" src="img/services__truck.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ПОМОЩЬ ПРИ <br> ПЕРЕЕЗДЕ <br> ВЫДЕЛИМ <br> ТРАНСПОРТ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__kist.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ПОДБОР <br> МАТЕРИАЛОВ, <br> ОБОРУДОВАНИЯ <br> И МЕБЕЛИ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__worker.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ЭКСПЕРТНЫЙ <br> НАДЗОР ЗА <br> ХОДОМ <br> РЕМОНТА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-none pt-3">
                    <div class="services__swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__window.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                УТЕПЛЕНИЕ <br> БАЛКОНА <br> 50% СКИДКА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__smarthome.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                СОЗДАНИЕ <br> УНИКАЛЬНОГО <br> ДИЗАЙНА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__smarthome.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                РАЗРАБОТКА <br> СИСТЕМЫ <br> УМНЫЙ ДОМ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-none pt-3">
                    <div class="services__swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__smarthome.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                РАЗРАБОТКА <br> СИСТЕМЫ <br> УМНЫЙ ДОМ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__key.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ЗАМЕНА <br> ЭЛЕКТРОПРОВОДКИ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/services__fuse-box.png" alt="">
                                    <img class="img-fluid services__top-after" src="img/services__spark.png" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                РЕМОНТ ПОД <br> КЛЮЧ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
</section>