<section class="services" id="services">
    <div class="services__container">
        <div class="services__title header-1 text-center text-uppercase">Наши услуги</div>
        <div class="container">
            <div class="offset-md-1 col-md-10">

                <!-- Версия для ПК -->
                <div class="row d-none d-md-flex">
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="" src="img/service__slide-1.svg" alt="">
                                    <img class="img-fluid services__top-after" style="" src="img/service__slide-1-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ПОМОЩЬ ПРИ <br> ПЕРЕЕЗДЕ <br> ВЫДЕЛИМ <br> ТРАНСПОРТ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/service__slide-2.svg" alt="">
                                    <img class="img-fluid services__top-after" src="img/service__slide-2-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ПОДБОР <br> МАТЕРИАЛОВ, <br> ОБОРУДОВАНИЯ <br> И МЕБЕЛИ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/service__slide-3.svg" alt="">
                                    <img class="img-fluid services__top-after" src="img/service__slide-3-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ЭКСПЕРТНЫЙ <br> НАДЗОР ЗА <br> ХОДОМ <br> РЕМОНТА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/service__slide-4.svg" alt="">
                                    <img class="img-fluid services__top-after" src="img/service__slide-4-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                УТЕПЛЕНИЕ <br> БАЛКОНА <br> 50% СКИДКА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/service__slide-5.svg" alt="">
                                    <img class="img-fluid services__top-after" src="img/service__slide-5-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                СОЗДАНИЕ <br> УНИКАЛЬНОГО <br> ДИЗАЙНА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/service__slide-6.svg" alt="">
                                    <img class="img-fluid services__top-after" src="img/service__slide-6-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                РАЗРАБОТКА <br> СИСТЕМЫ <br> УМНЫЙ ДОМ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/service__slide-7.svg" alt="">
                                    <img class="img-fluid services__top-after" src="img/service__slide-7-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ЗАМЕНА <br> ЭЛЕКТРОПРОВОДКИ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/service__slide-8.svg" alt="">
                                    <img class="img-fluid services__top-after" src="img/service__slide-8-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                РЕМОНТ ПОД <br> КЛЮЧ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0 col-md-6">
                        <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" src="img/service__slide-9.svg" alt="">
                                    <img class="img-fluid services__top-after" src="img/service__slide-9-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                СОГЛАСОВАНИЕ <br> ПЕРЕПЛАНИРОВКИ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                    </div>
            </div>

                <!-- Версия для ТЕЛЕФОНОВ -->
                <div class="d-block d-md-none pt-3">
                    <div class="services__swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="" src="img/service__slide-1.svg" alt="">
                                    <img class="img-fluid services__top-after" style="" src="img/service__slide-1-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ПОМОЩЬ ПРИ <br> ПЕРЕЕЗДЕ <br> ВЫДЕЛИМ <br> ТРАНСПОРТ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="" src="img/service__slide-2.svg" alt="">
                                    <img class="img-fluid services__top-after" style="" src="img/service__slide-2-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ПОДБОР <br> МАТЕРИАЛОВ, <br> ОБОРУДОВАНИЯ <br> И МЕБЕЛИ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="" src="img/service__slide-3.svg" alt="">
                                    <img class="img-fluid services__top-after" style="" src="img/service__slide-3-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                ЭКСПЕРТНЫЙ <br> НАДЗОР ЗА <br> ХОДОМ <br> РЕМОНТА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-none pt-3">
                    <div class="services__swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="" src="img/service__slide-4.svg" alt="">
                                    <img class="img-fluid services__top-after" style="" src="img/service__slide-4-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                УТЕПЛЕНИЕ <br> БАЛКОНА <br> 50% СКИДКА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="" src="img/service__slide-5.svg" alt="">
                                    <img class="img-fluid services__top-after" style="" src="img/service__slide-5-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                СОЗДАНИЕ <br> УНИКАЛЬНОГО <br> ДИЗАЙНА
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="" src="img/service__slide-6.svg" alt="">
                                    <img class="img-fluid services__top-after" style="" src="img/service__slide-6-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                РАЗРАБОТКА <br> СИСТЕМЫ <br> УМНЫЙ ДОМ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-block d-md-none pt-3">
                    <div class="services__swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="" src="img/service__slide-7.svg" alt="">
                                    <img class="img-fluid services__top-after" style="" src="img/service__slide-7-w.svg" alt="">
                                </div>
                            </div>
                                    <div class="services__content">
                                        ЗАМЕНА <br> ЭЛЕКТРОПРОВОДКИ
                                    </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="" src="img/service__slide-8.svg" alt="">
                                    <img class="img-fluid services__top-after" style="" src="img/service__slide-8-w.svg" alt="">
                                </div>
                            </div>
                                    <div class="services__content">
                                        РЕМОНТ ПОД <br> КЛЮЧ
                                    </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="services__item">
                            <div class="services__top">
                                <div class="services__top-inner">
                                    <img class="img-fluid services__top-before" style="" src="img/service__slide-9.svg" alt="">
                                    <img class="img-fluid services__top-after" style="" src="img/service__slide-9-w.svg" alt="">
                                </div>
                            </div>
                            <div class="services__content">
                                СОГЛАСОВАНИЕ <br> ПЕРЕПЛАНИРОВКИ
                            </div>
                            <button class="services__button ">
                                <div>Подробнее</div>
                            </button>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    </div>
</section>