<section class="support">
    <div class="support__container">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="support__inner">
                        <div class="support__header">
                            Заказать обратный звонок для консультации
                        </div>
                        <div class="support__city mt-2">
                            <label class="d-inline" for="city">Ваш город:</label>
                            <select class="support__select form-control-plaintext w-auto d-inline" name="city" id="city">
                                <option value="краснодар">КРАСНОДАР</option>
                                <option value="краснодар">КРАСНОДАР</option>
                                <option value="краснодар">КРАСНОДАР</option>
                            </select>
                        </div>
                        <div class="form-group mt-4">
                            <input class="support__input" type="text" name="name" placeholder="имя">
                        </div>
                        <div class="form-group">
                            <input class="support__input phone" type="text" name="phone" placeholder="номер телефона">
                        </div>
                        <div class="form-group">
                            <button class="btn-orange support__btn btn-animate w-100" style="border-radius: 15px">
                                ОТПРАВИТЬ ЗАЯВКУ
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>