<section class="support">
    <div class="support__container">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="support__inner">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-fluid" src="img/support__house.png" alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="support__header mb-2">
                                    Заказать обратный звонок для консультации
                                </div>
                                <div class="support__city mb-2">
                                    <label class="d-inline" for="city">Ваш город:</label>
                                    <select class="form-control-plaintext w-auto d-inline" name="city" id="city">
                                        <option value="краснодар">КРАСНОДАР</option>
                                        <option value="краснодар">КРАСНОДАР</option>
                                        <option value="краснодар">КРАСНОДАР</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="support__input" type="text" name="name" placeholder="ИМЯ">
                                </div>
                                <div class="form-group">
                                    <input class="support__input phone" type="text" name="phone" placeholder="НОМЕР ТЕЛЕФОНА">
                                </div>
                                <div class="form-group">
                                    <button class="btn-orange btn-animate w-100" style="border-radius: 15px">
                                        ОТПРАВИТЬ ЗАЯВКУ!
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>