// fonts
@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../fonts/PF Din Text Comp Pro.ttf");
}

html, body {
  //cursor: url("../img/cursor.png"), auto;
}

body {
  font-family: "PF Din Text Comp Pro", sans-serif;
  font-size: calc(16px + 0.2vw);
}

label {
  display: block;
}

// btn-orange
.btn-orange {
  outline: none;
  //box-shadow: inset 0 11px 13px rgba(255, 255, 255, 0.74);
  border-radius: 21px;
  //box-shadow: 0px 0px 5px #333, inset 0px 0px 2px #333;
  background: linear-gradient(to top, #ffc414 0%, #ff8200 100%), linear-gradient(to top, #52c234 0%, #00ff2a 100%);
  color: #ffffff;
  border: none;
  //border: 1px solid #ff8e00;
  border-bottom: 3px solid #ff8e00;
  padding: 10px 20px;
}

.btn-orange:active {
  border: none;
  outline: none;
  margin-top: 3px;
  //border-top: 3px solid rgba(0,0,0,0);
  //border: 1px solid #ff8e00;
}

.btn-orange:focus {
  //border: none;
  //border-top: 3px solid #ffcf8f;
  outline: none;
}

// screen
.screen {
  height: 107vh;
}

// break
.break {
  height: 0;
  width: 100%;
  position: relative;
}

.break__image {
  z-index: 10;
  //background: url("../img/gallery__before.png");
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  height: 130px;
}

.break__image img {

}

// text
.text-orange {
  color: #ffb116;
  font-family: "PF Din Text Comp Pro", sans-serif;
}

.header-1 {
  font-family: "PF Din Text Comp Pro", sans-serif;
  line-height: normal;
  font-size: calc(1.3em + 1.3vw);
  font-weight: 600;
  letter-spacing: 2px;
}

.header-2 {
  font-family: "PF Din Text Comp Pro", sans-serif;
  font-size: calc(1.3em + 0.4vw);
  font-weight: 600;
}

// intro
.intro {
  position: relative;
  z-index: 5;
}
.intro__container {
  z-index: 10;
  background-image: url("../img/intro__background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 600px;
}

// gallery
.gallery {
  position: relative;
  z-index: 1;
  margin-top: -57px;
}

.gallery__container {
  background-size: 100% 100%;
  position: relative;
  min-height: 600px;
  //background-image: url('../img/gallery_1.jpg');
  //background-repeat: no-repeat;
  //background-position: center center;
}

.gallery__inner {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.gallery__header {
  //font-size: calc(1.3em + 3vw);
  letter-spacing: 2px;
  white-space: nowrap
}

.gallery__text {
  font-family: "PF Din Text Comp Pro", sans-serif;
  color: #ffffff;
  font-size: calc(16px + 0.7vw);
}

.gallery__toggle {
  font-family: "PF Din Text Comp Pro", sans-serif;
  color: #838181;
  font-size: calc(16px + 0.3vw);
}

.gallery__indicators {
  display: flex;
}

.indicators__line {
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  opacity: 0.47;
}

.indicators__item {
  display: block;
  margin-right: 10px;
  opacity: 0.46;
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;
  background: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.indicators__item:hover {
  opacity: 0.8;
}

.indicators__item_active {
  opacity: 1;
}

.gallery__background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url('../img/gallery_1_with_dark_with_line.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.gallery__gradient {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  //background: url("../img/gallery__gradient.png") no-repeat;
  background-size: 100% 100%;
}

.gallery__house {
  z-index: 30;
  position: absolute;
  bottom: -122px;
  left: -65px;
}

.gallery__house img {
  width: 180px;
  height: 226px;
}

@media screen and (max-device-width: 767px) {
  .gallery__gradient {
    background: black;
  }
}

// Calc
.calc {
  z-index: 5;
  margin-top: -36px;
}

.calc__container {
  background-image: url("../img/calc__background.png");
  min-height: 600px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.calc__input-text {
  text-align: center;
  width: 40px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #ff8200;
  outline: none;
}

.calc__input-number {
  //height: 100%;
  outline: none;
  //width: 100%;
  //border-radius: 23px;
  //box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  //border: double 1em transparent;
  ////border: 1px solid #ffc800;
  ////border-right: none;
  ////background-color: #f6f6f6;
  ////border-image: linear-gradient(90deg, rgba(255,200,0,1) 0%, rgba(255,255,255,1) 100%);
  ////padding: 0.5rem 0;
  //color: #c8c8c8;
  //font-family: "Muller Medium", sans-serif;
  //font-weight: 400;
  //text-transform: uppercase;
  ////background-image: linear-gradient(to top, #ababab 0%, #ffffff 100%);
  //background-image: linear-gradient(rgba(255, 200, 0, 1), rgba(255, 200, 0, 0));
  ////border-width: 1px;
  ////border-image-slice: 1;
  //background-origin: border-box;
  //background-clip: content-box, border-box;
  width: 100%;
  height: 100%;
  min-height: 49px;
  border: double 1px transparent;
  border-radius: 23px;
  background-image: linear-gradient(white, white), linear-gradient(90deg, rgba(255,200,0,1) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-color: #f6f6f6;
}

.calc__input-text:active {
  border: none;
  border-bottom: 2px solid #ff8200;
  outline: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #ff8200;
  background-color: #ff8200;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0px #fff, 0 0 0 0.2rem #ffd9b1; /* pink, 25% opacity */
}

@media screen and (max-device-width: 767px) {
  .calc__input-number {
    border: 1px solid #ffc800;
  }
  .calc__container {
    background: #ffffff;
    height: auto !important;
  }
}

// include-price
.include-price__container {
  background: url("../img/include-price__background-with-dark.png") no-repeat;
  background-size: 100% 100%;
  min-height: 400px;
  height: 50vh;
  position: relative;
}

.include-price {
  margin-top: 120px;
}

.include-price__inner {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.include-price__title {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0,0,0,0);
  font-family: "PF Din Text Comp Pro", sans-serif;
  font-size: 4em;
  letter-spacing: 10px;
  -webkit-text-stroke: 1px #ffad0d;
  //-webkit-text-fill-color: white;
}

.include-price__item {
  color: #ffffff;
}

.include-price__header {
  text-transform: uppercase;
  color: #ffb116;
}

.include-price__content li {
  list-style-type: none;
}
.include-price__content li:before {
  content: "* ";
}

@media screen and (max-device-width: 767px) {
  .include-price__container {
    height: auto;
    background: black;
  }
}

@media screen and (max-device-width: 991px) {
  .include-price__title {
    font-size: 2.5em;
  }
}